{% extends 'base-register-form.html.twig' %}

{% block title %}Elec'Shop Inscription/Connexion
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-5">
        <h1 class="h2">Se connecter</h1>
    </div>
	<div class="row">
		<div class="d-flex justify-content-center">
			<form class="w-50" method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}

				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="d-flex justify-content-between align-items-center">
					<button class="btn btn-primary mt-4 w-100" type="submit">
						Se connecter
					</button>
				</div>
                <p class="mt-4">
                        Vous n'avez pas encore de compte?
						<span>
                            <a href="{{path('app_register')}}" class="">S'inscrire</a>
                        </span>
					</p>
			</form>
		</div>
	</div>
{% endblock %}
